<h1>Public::Customers#show</h1>

<div>
  <ul>
    <li><%= @customer.id %></li>
    <li><%= image_tag @customer.get_profile_image, size:'100x100' %></li>
    <li><%= @customer.last_name %></li>
    <li><%= @customer.first_name %></li>
    <li><%= @customer.email %></li>
    <li><%= @customer.is_deleted %></li>
    <li><%= link_to "edit", customers_information_edit_path %></li>
  </ul>
</div>

<div>
  <ul>
    <li><%= link_to "new blog", new_blog_path %></li>
    <li><%= link_to "new household", new_household_budget_path %></li>
    <li><%= link_to "new life", new_life_cycle_path %></li>
    <li><%= link_to "new schedule", new_schedule_path %></li>
  </ul>
</div>

