<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <!--customerの情報-->
      <%= render 'public/customers/customer_info', customer: @customer %>

      <div class="mt-5">
        <!--今月の収支記録-->
        <span class="d-flex justify-content-center"><strong>今月の収支</strong></span>
        <%= render 'public/customers/household_budgets',
        incomes: @current_month_incomes, spendings: @current_month_spendings %>
      </div>

      <div class="mt-5">
        <!--先月の収支記録-->
        <span class="d-flex justify-content-center"><strong>先月の収支</strong></span>
        <%= render 'public/customers/household_budgets',
        incomes: @last_month_incomes, spendings: @last_month_spendings %>
      </div>
    </div>

    <div class='col-md-8 offset-md-1'>
      <!--直近のスケジュール表示-->
      <span><strong>今日の予定</strong></span>
      <% if @today_schedules.present? %>
        <%= render 'public/customers/schedules', schedules: @today_schedules %>
      <% else %>
        <ul>
          <li>今日の予定はありません</li>
        </ul>
      <% end %>

      <span><strong>明日の予定</strong></span>
      <% if @tomorrow_schedules.present? %>
        <%= render 'public/customers/schedules', schedules: @tomorrow_schedules %>
      <% else %>
        <ul>
          <li>明日の予定はありません</li>
        </ul>
      <% end %>

      <div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>cu_id</th>
              <th>title</th>
              <th>start_time</th>
              <th>end_time</th>
            </tr>
          </thead>

          <tbody>
            <% @life_cycles.each do |life| %>
              <tr>
                <td><%= life.id %></td>
                <td><%= life.customer_id %></td>
                <td><%= life.title %></td>
                <td><%= life.start_time %></td>
                <td><%= life.end_time %></td>
                <td><%= link_to "edit", edit_life_cycle_path(life), class:"btn btn-success" %></td>
                <td><%= link_to "del", life_cycle_path(life), method: :delete, class:"btn btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>



      <canvas id="myChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      </script>

    </div>
  </div>
</div>
