<p id="notice"><%= notice %></p>

<div class="toppage">
  <h1 class="top">カレンダー</h1>

  <div class="row">
    <div class="col-md-12">
    	<div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>cu_id</th>
            <th>title</th>
            <th>content</th>
            <th>start_time</th>
            <th>end_time</th>
            <th>date</th>
            <th colspan=2></th>
          </tr>
        </thead>

        <tbody>
          <% @schedules.each do |schedule| %>
            <tr>
              <td><%= schedule.id %></td>
              <td><%= schedule.customer_id %></td>
              <td><%= schedule.title %></td>
              <td><%= schedule.content %></td>
              <td><%= schedule.start_time.strftime('%R') %></td>
              <td><%= schedule.end_time.strftime('%R') %></td>
              <td><%= schedule.date %></td>
              <td><%= link_to "edit", edit_schedule_path(schedule), class:"btn btn-success" %></td>
              <td><%= link_to "del", schedule_path(schedule), method: :delete, class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <%= month_calendar events: @schedules do |date, schedules| %>
        <%= date.day %>

        <% schedules.each do |schedule| %>
          <%= link_to schedule.title, schedule_path(schedule), class:"calendar-link" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!--}（#{schedule.start_time.strftime("%R")} ~ #{schedule.end_time.strftime("%R")}）"-->