<div class="container my-5">
  <div class='row'>
    <div class="col-12 px-5 px-sm-0 mx-auto">
      <div class="d-flex justify-content-center">
        <h3 class="bg-light"><strong>スケジュール表</strong></h3>
      </div>
      <div class="my-5">
        <%= month_calendar do |date| %>
          <%= date.day %>

          <% @schedules.each do |schedule| %>
            <div class="text-center" style="margin:2px 0;">
              <% if schedule.start_time.to_date == date %>
                <%= link_to "#{schedule.title}(#{schedule.start_time.strftime("%R")} ~ #{schedule.end_time.strftime("%R")})",
                edit_schedule_path(schedule.id), class:"btn btn-sm btn-warning p-0" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <%= render 'public/shared/error_messages', resource: @schedule %>
      <%= render 'public/schedules/form', schedule: @schedule %>
    </div>
  </div>
</div>
