<h1>Public::Blogs#index</h1>

<h1>自分の日記</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>cu_id</th>
        <th>title</th>
        <th>date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.id %></td>
          <td><%= blog.customer_id %></td>
          <td><%= blog.title %></td>
          <td><%= blog.date %></td>
          <td><%= link_to 'Show', blog_path(blog) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div>
  <%= month_calendar do |date| %>
    <%= link_to date.day, blog_path(date) %>
  <% end %>
</div>