<h1>Admin::Customers#edit</h1>

<%= form_with model:@customer, url:admin_customer_path(@customer) do |f| %>
  <table class="table table-borderless">
    <thead>
      <tr>
        <td>画像</td>
        <td class="form-group">
          <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*'  %>
        </td>
      </tr>
      <tr>
        <td>氏名</td>
        <td class="form-group">
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %>
        </td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td class="form-group"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <td class="form-group">
          <%= f.radio_button :is_deleted, "false" %>
          <%= f.label :is_deleted_false, "有効" %>
          <%= f.radio_button :is_deleted, "true" %>
          <%= f.label :is_deleted_false, "退会" %>
        </td>
      </tr>
      <tr>
        <td class="form-group">
          <%= f.submit "保存" %>
          <%= link_to "削除", admin_customer_path(@customer), method: :delete, "data-confirm" => "ok?", class: "btn btn-danger" %>
        </td>
      </tr>
    </thead>
  </table>
<% end %>


