<h1>Admin::Customers#index</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>image</th>
      <th>last_name</th>
      <th>first_name</th>
      <th>is_deleted</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= image_tag customer.get_profile_image, size:'50x50' %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.is_deleted %></td>
        <td><%= link_to "edit", edit_admin_customer_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>