<div class="container my-5">
  <div class='row'>
    <div class="col-sm-12 col-md-10 col-lg-7 px-5 px-sm-0 mx-auto">
      <div class="d-flex justify-content-center">
        <h3 class="bg-light"><strong>新規メモ</strong></h3>
      </div>
      <%= render 'public/shared/error_messages', resource: @todo_content %>
      <!--投稿フォーム-->
      <div>
        <%= form_with model:@todo_content do |f| %>
          <!--セレクトボタンの押し忘れ回避の為、if文で表示を分ける-->
          <% if @todo_lists.present? %>
            <div class="form-group my-3">
              <%= f.radio_button :select_button, "selected", checked: true %>
              <%= f.label :select_button, "登録しているメモのタイトルから選択", value: "selected" %>
              <div class="my-3">
                <%= f.select :todo_list_id, options_from_collection_for_select(@todo_lists,:id,:title),
                class: "form-control-select" %>
              </div>
            </div>

            <div class="form-group my-3">
              <%= f.radio_button :select_button, "new" %>
              <%= f.label :select_button, "メモの新規タイトル", value: "new" %>
              <div class="my-3">
                <%= f.text_field :title, placeholder: "新規タイトル(30文字以内)", class: "form-control todo_list_title" %>
              </div>
            </div>

          <% else %>
            <div class="form-group my-3">
              <%= f.hidden_field :select_button, value: "new" %> メモのタイトル
              <%= f.text_field :title, placeholder: "タイトル(30文字以内)", class: "form-control todo_list_title my-2" %>
            </div>
          <% end %>

          <div class="form-group my-3">
            <%= f.label "メモ内容" %>
            <%= f.text_area :content, placeholder: "内容", rows: 3, class: "form-control todo_content_content" %>
          </div>

          <div class="form-group text-center my-5">
            <%= f.submit class: 'btn btn-outline-success' %>
          </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-center my-5">
        <%= link_to "一覧に戻る", todo_lists_path, class:"btn btn-outline-secondary" %>
      </div>

    </div>
  </div>
</div>
