<h1>todo_lists::index</h1>

<div><%= link_to "new", new_todo_content_path %></div>

<div>
  <% @todo_lists.each do |list| %>
    <ul>
      <li><%= link_to list.title, todo_list_path(list.id) %></li>
      <li>
          <%= link_to todo_list_path(list.id), method: :delete do %>
            <i class="fas fa-times-circle text-danger"></i>
          <% end %>
      </li>
      <% list.todo_contents.each do |todo| %>
        <%= todo.content %>
        <%= link_to todo_content_path(todo.id), method: :delete do %>
          <i class="fas fa-times-circle text-danger"></i>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

