<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">

      <div class="my-3">
        <%= link_to new_content_path(@todo_list.id), class: "btn btn-outline-secondary" do  %>
          <span class="text-dark h6"><i class="fas fa-plus-circle"></i> ここに追加</span>
        <% end %>
      </div>

      <table class="table table-hover my-3 text-left">
        <thead class="table-active">
          <tr>
            <th>
              <%= @todo_list.title %>
            </th>
            <th style="width:10%;">
              <%= link_to todo_list_path(@todo_list.id), method: :delete, "data-confirm" => "リストごと消しますか?" do %>
                <i class="fas fa-times-circle text-danger" data-toggle="tooltip" data-placement="right" title="リスト削除"></i>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @todo_contents.each do |todo| %>
            <tr>
              <td><%= simple_format(todo.content) %></td>
              <td>
                <%= link_to todo_content_path(todo.id), method: :delete do %>
                  <i class="fas fa-times-circle text-danger" data-toggle="tooltip" data-placement="right" title="削除"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="d-flex justify-content-center my-5">
        <%= link_to "一覧に戻る", todo_lists_path, class:"btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>
