<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-5 px-sm-0 mx-auto">
      <div class="d-flex justify-content-center">
        <h3 class="bg-light">
          <strong>
            <%= @day_params %>の記録
          </strong>
        </h3>
      </div>


      <canvas id="myChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                  label: '時間',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
              }
          }
      });
      </script>


      <div class="row">
        <div class="col-8 mx-auto">
          <%= render 'public/shared/error_messages', resource: @life_cycle %>
          <%= render 'public/life_cycles/form', life_cycle: @life_cycle, day_params: @day_params %>
        </div>
      </div>

      <table class="table table-hover my-3 text-center">
        <thead class="table-active">
          <tr>
            <th style="width:30%;">項目</th>
            <th style="width:30%;">時間</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @life_cycles.each do |life_cycle| %>
            <tr>
              <td><%= life_cycle.title_i18n %></td>
              <td><%= life_cycle.start_time.strftime('%R') %> ~ <%= life_cycle.end_time.strftime('%R') %></td>
              <td>
                <%= link_to "編集", edit_life_cycle_path(life_cycle.id), class:"btn btn-success" %>
              </td>
              <td>
                <%= link_to "削除", life_cycle_path(life_cycle.id), method: :delete, "data-confirm" => '消しますか?', class:"btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>











