<h1>Public::LifeCycles#new</h1>

<ul>
  <li><%= flash[:alert] %></li>
  <% @life_cycle.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_with model: @life_cycle do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.select :title, LifeCycle.titles.keys, {prompt: "選択してください"}, class: "title-select" %>
  </div>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.time_field :start_time, class: "form-control start_time" %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.time_field :end_time, class: "form-control end_time" %>
  </div>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control blog_date' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
