<header class="d-flex flex-column bg-light border-bottom">
  <div class="container-fluid">
    <nav class="navbar">
      <% if admin_signed_in? %>
        <a class="navbar-brand ml-5" href="/admin"><%= image_tag "my_dialy_logo.png", size:'100x100' %></a>
      <% else %>
        <a class="navbar-brand ml-5" href="/"><%= image_tag "my_dialy_logo.png", size:'100x100' %></a>
      <% end %>
      <div>
        <ul class="navbar-nav list-group list-group-horizontal" >

          <!--管理者ログイン後-->
          <% if admin_signed_in? %>

            <li class="nav-item pt-2 text-danger">
              <i class="fas fa-exclamation"></i> 管理者モード
            </li>
            <!--Customers一覧-->
            <li class="nav-item">
              <%= link_to admin_customers_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' do %>
                <i class="fas fa-user"></i> customer
              <% end %>
            </li>
            <!--Contacts一覧-->
            <li class="nav-item">
              <%= link_to admin_contacts_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' do %>
                <i class="far fa-paper-plane"></i> contact
              <% end %>
            </li>
            <!--News一覧-->
            <li>
              <%= link_to admin_news_index_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' do %>
                <i class="far fa-bell"></i> news
              <% end %>
            </li>
            <!--adminのSign outのリンク-->
            <li class="nav-item mr-5">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' do %>
                <i class="fas fa-sign-out-alt"></i>  sign out
              <% end %>
            </li>

          <!--顧客ログイン後-->
          <% elsif customer_signed_in? %>
            <!--ログインユーザー名の表示-->
            <li class="nav-item pt-2">
              <i class="fas fa-smile-beam"></i> <%= current_customer.full_name %>さん
            </li>
            <!--Customer#showのリンク-->
            <li class="nav-item">
              <%= link_to customers_mypage_path, "data-turbolinks": false do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-user"></i> Home
                </div>
              <% end %>
            </li>
            <!--TodoListsのリンク-->
            <li class="nav-item">
              <%= link_to todo_lists_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-th-list"></i> メモ
                </div>
              <% end %>
            </li>
            <!--Schedulesのリンク-->
            <li class="nav-item">
              <%= link_to schedules_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-calendar-alt"></i> 予定
                </div>
              <% end %>
            </li>
            <!--LifeCyclesのリンク-->
            <li class="nav-item">
              <%= link_to life_cycles_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-walking"></i> LIFE
                </div>
              <% end %>
            </li>
            <!--HouseholdBudgetsのリンク-->
            <li class="nav-item">
              <%= link_to household_budgets_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-yen-sign"></i> 家計簿
                </div>
              <% end %>
            </li>
            <!--Blogsのリンク-->
            <li class="nav-item">
              <%= link_to  blogs_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-pen"></i> BLOG
                </div>
              <% end %>
            </li>
            <!--customerのsign outのリンク-->
            <li class="nav-item mr-5">
              <%= link_to destroy_customer_session_path, method: :delete do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-sign-out-alt"></i> Sign out
                </div>
              <% end %>
            </li>

          <!--ログイン前-->
          <% else %>
            <!--"お試しユーザー"でログインするリンク-->
            <li class="nav-item">
              <%= render 'public/sessions/test_customer', customer: Customer.new %>
            </li>
            <!--topのリンク-->
            <li class="nav-item">
              <%= link_to root_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-globe"></i> TOP
                </div>
              <% end %>
            </li>
            <!--customerの新規登録画面のリンク-->
            <li class="nav-item">
              <%= link_to new_customer_registration_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-user-plus"></i> 新規登録
                </div>
              <% end %>
            </li>
            <!--customerのログイン画面のリンク-->
            <li class="nav-item mr-5">
              <%= link_to new_customer_session_path do %>
                <div class="nav-link pr-1 pl-1 ml-4 btn btn-outline-primary">
                  <i class="fas fa-sign-in-alt"></i> ログイン
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
