<header class="d-flex flex-column bg-light border-bottom">
  <div class="container-fluid">
    <nav class="navbar">
      <% if admin_signed_in? %>
        <a class="navbar-brand ml-5" href="/admin"><%= image_tag "my_dialy_logo.png", size:'100x100' %></a>
      <% else %>
        <a class="navbar-brand ml-5" href="/"><%= image_tag "my_dialy_logo.png", size:'100x100' %></a>
      <% end %>
      <div>
        <ul class="navbar-nav list-group list-group-horizontal" >
          <!--管理者ログイン後-->
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "お問い合わせ一覧", admin_contacts_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item mr-5">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
          <!--顧客ログイン後-->
          <% elsif customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", customers_mypage_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "blog一覧", blogs_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "スケジュール", schedules_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "家計簿", household_budgets_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "生活記録", life_cycles_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item mr-5">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
          <!--ログイン前-->
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
            <li class="nav-item mr-5">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link pr-1 pl-1 ml-4 btn btn-outline-primary' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
